
/* CONTENT ONLY - Too small for rhsbar */
html			{ font-size: 8px; }	/* because some peop have small screens */
.container		{ margin: 0px; border: 1px solid blue; padding: 0; width:auto; }
.content		{ width:auto; margin:0; border:1px solid white; padding:1rem; float: none; }
.rhsbar			{ width:auto; margin:0; border:1px solid white; padding:1rem; float: none; display: none; }
.footer			{ width:auto; margin:0; border:1px solid white; padding:0; clear:both; text-align:center; }

/* STACKED - 8px but wide enough to show ads */
@media (min-width: 320px) {						/* 300+2rem+4px*/
  html	   	{ font-size:10px; }
 	.rhsbar		{ width:300px; margin:0 auto; padding:0.5rem; display: block; }
}

@media (min-width: 424px) {						/* 300+2rem+4px*/
	html		{ font-size:10px; }
 	.rhsbar		{ padding:1rem; }
}

@media (min-width: 508px) {						/* 300+2rem+4px*/
	html		{ font-size:12px; }
}

@media (min-width: 676px) {						/* 300+2rem+4px*/
	html		{ font-size:16px; }
}

/* SIDE BY SIDE - Enough space to put content & rhsbar next to each other
   content width >= 1.5 x rhsbar width, font-size >= 8px, content width >= 30 * font-size (about 45 chars wide)
 */
@media (min-width: 870px) {							/* container+2px +20px for v scrollbar */
	html		{ font-size: 16px; }
	.container	{ width: 848px; margin: 0 auto; }	/* 30*font-size+300+4rem+4px */
	.content	{ width: 480px; float: left; }
	.rhsbar		{ float: left; margin: 0; }
}

@media (min-width: 938px) {							/* container+2px +20px for v scrollbar */
	html		{ font-size: 18px; }
	.container	{ width: 916px; }					/* content+300+4rem+4px */
	.content	{ width: 540px; }					/* 30 * font-size */
}

@media (min-width: 1006px) {							/* container+2px +20px for v scrollbar */
	html		{ font-size: 20px; }
	.container	{ width: 984px; }					/* content+300+4rem+4px */
	.content	{ width: 600px; }					/* 30 * font-size */
}

@media (min-width: 1142px) {							/* container+2px +20px for v scrollbar */
	html		{ font-size: 24px; }
	.container	{ width: 1120px; }					/* content+300+4rem+4px */
	.content	{ width: 720px; }					/* 30 * font-size */
}

@media (min-width: 1278px) {							/* container+2px +20px for v scrollbar */
	html		{ font-size: 28px; }
	.container	{ width: 1256px; }					/* content+300+4rem+4px */
	.content	{ width: 840px; }					/* 30 * font-size */
}



h1				{ color: #0066FF; }
h2				{ color: #0066FF; }

html, body		{ margin: 0; border: 0; padding: 0; }
body			{ height: 100%; font-size:1rem; background-color: #ffffff; line-height:1.2; }
a				{ text-decoration: none; }
img			{ margin: 0; border: 0; padding: 0; outline:0 none 0; } /* vertical-align: baseline; } */

form			{ margin: 0px; padding: 0px; }
h1				{ font-size: 2rem; font-weight: bold; margin-top: 2rem; margin-bottom: 1rem;
				text-decoration: underline; }
h2				{ font-size: 1.5rem; font-weight: bold; margin-top: 1.5rem; margin-bottom: 1rem; }
h3				{ font-size: 1rem; margin: 2px; }

.mbp0			{ margin:0; border: 0; padding:0; }
.s1 img		{ height: 1rem; width: auto; }
.s2 img		{ height: 2rem; width: auto; }
.s3 img		{ height: 3rem; width: auto; }
.s4 img		{ height: 4rem; width: auto; }
.s5 img		{ height: 5rem; width: auto; }
.s6 img		{ height: 6rem; width: auto; }
 
body, th, td, input, textarea, select {
				font-family: Arial, Helvetica, sans-serif; font-size: 1rem; color: #000000; }
p, blockquote, ul, ol, dl { margin-top: 0px; margin-bottom: 1rem; }

.code			{ font-family: Courier; margin-left: 1rem;}
.small			{ font-size: 0.7rem; }
.align-justify	{ text-align: justify; }
table			{ margin-bottom: 1rem; }
tr				{ vertical-align: top; }
td				{ vertical-align: top; }
table.top		{ margin-bottom: 0px; }
thead			{ background-color: lightblue; }

.wb			{ border: 1px solid white; }

/* margin: t r b l;  OR  margin: tb rl;*/

#PageNav {
    width: 100%;
    float: left;
    border: solid 1px blue;
    text-align: center;
}
/* #PageNav img { width: 1.5rem; height:auto; } */

.box1			{ margin:0; border:0px solid red; padding: 0.5rem; width: 8%; height:2rem; display:inline-block; vertical-align:middle; }
.box3			{ margin:0; border:0px solid red; padding: 0.5rem; width:24%; height:2rem; display:inline-block; vertical-align:middle; }
.big			{ font-size:1.6rem; }

.L				{ float:left; }
.R				{ float:right; }
.nl				{ clear: both; }

#PageNav .box1 img { height:100%; width:auto; }


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 9322px) { 
	html { font-size: 24px; }
	.container	{ width:1300px; }
	.content	{ width:900px; }
	.rhsbar		{ width:300px; }
}


.container .content pre {
	border: solid 1px blue;
	background-color: #F0F0FF;
	word-wrap: normal;
	white-space: pre;
	overflow: scroll;
	padding: 1px;
	font-family: monospace;
}

.container .content ol li pre {
	border: solid 1px blue;
	background-color: #F0F0FF;
	word-wrap: normal;
	white-space: pre;
	overflow: scroll;
	padding: 1px;
	font-family: monospace;
}

/* 20160827 Adjust the title line generated by pandoc */
h1.title { text-align: center; }
